<li>
    <ol style="margin: 0;padding: 0;list-style-type: none;">
        <li ng-bind="stock.symbol" style="display:inline-block;"></li>
        <li ng-bind="stock.close" style="display:inline-block;"></li>
        <li ng-bind="stock.open" style="display:inline-block;"></li>
        <li ng-bind="stock.changeInDollars" style="display:inline-block;"></li>
        <li ng-bind="stock.changeInPercent" style="display:inline-block;"></li>
        <li ng-bind="stock.high" style="display:inline-block;"></li>
        <li ng-bind="stock.low" style="display:inline-block;"></li>
        <li ng-bind="stock.yearHigh" style="display:inline-block;"></li>
        <li ng-bind="stock.yearLow" style="display:inline-block;"></li>
        <li ng-bind="stock.volume" style="display:inline-block;"></li>
        <li ng-bind="stock.volumeAverage" style="display:inline-block;"></li>
        <li ng-bind="stock.volumeDifferenceFromAverage" style="display:inline-block;"></li>
    </ol>
</li>