<!doctype html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Maket Inspector</title>
</head>
<body>
    <h1>Market Inspector</h1>

    <h3>Indicies</h3>
    <h3>ETF</h3>

    <h3>Stocks</h3>

    <div data-ng-controller="StockController">
        <ul>
            <mi-stock-overview ng-repeat="stock in stocks"></mi-stock-overview>
        </ul>

<hr>

        <div>
            <ul>
                <li data-ng-repeat="stock in stocks">
                    <a href="" data-ng-click="populateHistoricalData(stock.symbol)">
                        <div data-ng-bind="stock.symbol"></div>
                    </a>
                    <ol data-ng-show="stock.hasHistoricalData">
                        <li data-ng-repeat="historical in stock">
                            <div>
                                Date: {{ historical.date }}
                                Open {{ historical.open }}
                                High {{ historical.high }}
                                Low {{ historical.low }}
                                Close {{ historical.close }}
                                Volume {{ historical.volume }}
                            </div>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>

    </div>


    <!-- JAVASCRIPT -->
    <script src="/assets/vendor/requirejs/require.js" data-main="/assets/scripts/main.js"></script>
</body>
</html>