<!doctype html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Maket Inspector</title>
</head>
<body>
    <h1>Market Inspector</h1>

    <h3>Indicies</h3>
    <h3>ETF</h3>
    <h3>Stocks</h3>
    <div ng-controller="StockController">
        {{_payload}}
    </div>



    <!-- JAVASCRIPT -->
    <script src="/assets/vendor/requirejs/require.js" data-main="/assets/scripts/main.js"></script>
</body>
</html>